[user]
	name = Patrik Johansson
	email = johansson.k.patrik@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[format]
	pretty = "Commit:  %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %C(yellow)%ai%nSubject: %s%n%n%b"

[core]
	editor = vim

[alias]
	graph = "log --graph --all --full-history --color --format=format:'%C(yellow)%h%C(reset) - %C(red)(%ar)%C(reset) %C(white)%s%C(reset) %C(green)%an%C(reset)%C(yellow)%d%C(reset)' --abbrev-commit"
