[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/sjl/oh-my-zsh.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
